

/* custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* fall back variables */
:root {
  --blue: #345fa5;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE; 
  font-size: 14pt; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

nav.self ul {
  display: flex; 
  justify-content: space-around;
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

nav.self {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.5px solid black;
  z-index: 8;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--blue, blue);
  text-align: left;
  margin-top: 5mm; 
}

section {
  background-color: hsl(0, 0%, 96%);
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  border-style: solid;
  border-color: #333333;
  border-width: 2px;
  border-radius: 8px;
  padding: 20px;
}

/*rgb color*/
.word {
  color: rgb(43, 126, 173);
  font-weight: bold;
}

.agenda-container {
  background-color: color-mix(in srgb, gray, white 70%);
  border: 1px solid color(display-p3 0.5 0.5 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

form.form-example {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 400px;
  margin: 2rem auto;
}

img {
  display: block; 
  margin: 20px auto;
  border: 5px solid gray;
}

.logo {
  display: inline-block; 
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button.favorite:hover {
  background-color: orange;
}

button.favorite:active {
  background-color: blue;
}

footer {
  position: relative;
  margin-top: 5vh;
  text-align: center;
  padding: 2em;
  background-color: #eee;
}

@media screen and (max-width: 700px) {
  section {
    width: 90%;
    padding: 12px;
  }
  
  nav.self ul {
    flex-direction: column;
    text-align: left;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

h3 {
  color: #0f1a2d;
  font-size: 1.8rem;
}

.agenda-container {
  background-color: #fbf3f3;
  border-radius: 12px;
}

#student-id {
  border: 2px solid #ca9a2a;
}

input[list="colors"] {
  background-color: #9c997a;
}

button:active {
  transform: scale(0.98);
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

header a {
  font-size: 24px;
}

section > p {
  line-height: 1.6;
  color: #423c3c;
}

h2 ~ section {
  margin-top: 18px;
}

input + label {
  font-style: italic;
  margin-left: 9px;
}

a.logo {
  border-bottom: 3px solid #9c7929;
}

div:has(video) {
  background-color: #000;
  text-align: left;
  padding: 20px;
}

.form-example {
  background: white;

  & label {
    font-weight: 600;
    display: block;

    & + input {
      width: 90%;
      padding: 10px;
    }
  }
}