

/* custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* fall back variables */
:root {
  --blue: #345fa5;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE; 
  font-size: 14pt; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

nav.self ul {
  display: flex; 
  justify-content: space-around;
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

nav.self {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.5px solid black;
  z-index: 8;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--blue, blue);
  text-align: left;
  margin-top: 5mm; 
}

section {
  background-color: hsl(0, 0%, 96%);
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  border-style: solid;
  border-color: #333333;
  border-width: 2px;
  border-radius: 8px;
  padding: 20px;
}

/*rgb color*/
.word {
  color: rgb(43, 126, 173);
  font-weight: bold;
}

.agenda-container {
  background-color: color-mix(in srgb, gray, white 70%);
  border: 1px solid color(display-p3 0.5 0.5 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

form.form-example {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 2rem auto;
  max-width: 400px;
}

img {
  display: block; 
  margin: 20px auto;
  border: 5px solid gray;
}

.logo {
  display: inline-block; 
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button.favorite:hover {
  background-color: orange;
}

button.favorite:active {
  background-color: blue;
}

footer {
  position: relative;
  margin-top: 5vh;
  text-align: center;
  padding: 2em;
  background-color: #eee;
}

@media screen and (max-width: 700px) {
  section {
    width: 90%;
    padding: 12px;
  }
  
  nav.self ul {
    flex-direction: column;
    text-align: left;
  }
}